<div class="card mx-auto" style="width: 50em;">
  <div class="card-header">
    <h2>Crea una Cuenta</h2>
  </div>

  <br/>

  <div class="card-body">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="field form-group shadow-sm">
      <%= f.email_field :email, class:"form-control", placeholder:"Email", autofocus: true, autocomplete: "email" %>
    </div>
  
    <br/>
  
    <div class="field form-group shadow-sm">
      <%= f.password_field :password, class:"form-control", placeholder:"Contraseña", autocomplete: "new-password" %>
    </div>
  
    <br/>
  
    <div class="field form-group shadow-sm">
      <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Confirmar Contraseña",autocomplete: "new-password" %>
    </div>
  
    <br/>
  
    <div class="text-center pb-1">
      <div class="actions form-group pb-2">
        <%= f.submit "Crear cuenta", class:"btn btn-secondary" %>
      </div>
      
      <%= render "devise/shared/links" %>
    </div>
  <% end %>


  </div>
</div>


