<div id="<%= dom_id moroso %>">
    <td><%= moroso.nombre %></td>
    <td><%= moroso.apellido %></td>
    <td><%= moroso.deuda %></td>
    <td><%= moroso.fecha %></td>
    <td><%= moroso.direccion %></td>
</div>
